main {
    width: 100vw;
    margin: 0;
}

#main-grid {
    color: aliceblue;
    display: grid;
    gap: 10vh;
    grid-template-rows: 0.9fr 0.1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "upper-grid" 
        "lower-grid";
    height: 80vh;
    width: 100vw;
}

#upper-grid {
    grid-area: 'upper-grid';
    display: grid;
    grid-template-columns: 0.6fr 0.4fr;
    grid-template-areas: "main-video data-table"
}

#lower-grid {
    grid-area: 'lower-grid';
}

#large-video-wrapper {
    background-color: black;
    grid-area: 'main-video';
    text-align: center;
}

#main-data-table {
    grid-area: 'data-table';
}

#main-data-table>* {
    color: aliceblue;
}

#video-sub-list {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.video-list-item {
    background-color: black;
    margin: 0 1vh;
    height: 250px;
    width: 300px;
}