main{
 width: 100vw;
}

#header {
    display: flex;
    text-align: center;
}

#title {
    display: inline-block;
    margin: 0 auto;
    color: whitesmoke;
}

#login-button {
    display: inline-block;
    margin: 1vw 1vh 2vw 0;
}

@media only screen and (max-wdith: 700px) {
    #login-button {
        padding: 0px;
    }
}